/*==========main wrapper=======*/
html{
    position: relative;
    width: 100%;
    height: 100%;
}
body{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: 0;
    padding:0;
    
}
#main-wrapper{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
/*==========main wrapper=======*/
/*==========tool bar==========*/
#toolbar{
    background:rgb(209, 208, 205);
    /*testing properties*/
    /*testing properties end*/
    flex-grow: 0;
    min-height: 60px;/*needed to add this so font-awsone doesnt mess up the height of the toolbar*/
}
/*==========grid end=========*/
/*==========buttons=========*/
.genericBtn{
    border-style: dotted;
    border-width: 3px;
    border-radius: 4px;
    margin:10px;
    border-image: none;
}
.idle{
    background: rgb(156, 155, 154);
}
.genericBtn:active{
    background:  rgb(117, 117, 117);
}
.nodeBtn{
    background: black;
    color: white;
}
.hide{
    opacity: 0;
}
.active{
    background:rgb(32, 48, 74);
}
/*==========buttons end=====*/
/*==========canvas =========*/
#canvas{
   flex-grow: 1;
}
#erase-cursor{
    position: fixed;
    left: 0;
    top: -30px;
    opacity: 1;
    backface-visibility: hidden;
    pointer-events: none;
}
/*==========node===========*/
.node-unclickable{
    pointer-events: none;
    cursor:default;
}
.node{
    cursor: grab;
}

@keyframes spin{
    from {transform:rotate(0deg);}
    to {transform:rotate(359deg);}
}
.active-node{
    animation: spin 5s infinite linear;
}
/*==========node end=======*/
/*==========edge===========*/
.edge-unclickable{
    pointer-events: none;
}
.edge-clickable{
    pointer-events: auto;
}
/*==========edge end=======*/
/*========== test =======*/
.test-node{
    position: absolute;
    top:0;
    left:0;
}
/*========== test end ===*/