/*==========main wrapper=======*/
html{
    position: relative;
    width: 100%;
    height: 100%;
}
body{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: 0;
    padding:0;
    
}
#main-wrapper{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
/*==========main wrapper=======*/
/*==========tool bar==========*/
#toolbar{
    background:rgb(209, 208, 205);
    /*testing properties*/
    /*testing properties end*/
}
/*==========grid end=========*/
/*==========buttons=========*/
.genericBtn{
    border-style: dotted;
    border-width: 3px;
    background: rgb(156, 155, 154);
    border-radius: 4px;
    margin:10px;
    border-image: none;
}
.genericBtn:active{
    background:  rgb(117, 117, 117);
}
/*==========buttons end=====*/
/*==========canvas =========*/
#canvas{
    position: relative;
    flex-grow: 1;
}
#erase-cursor{
    position: fixed;
    left: 0;
    top: -30px;
    cursor: none;
    opacity: 1;
    backface-visibility: hidden;
}